.input {
	display:block;
	width:100%;
	min-height:30px;
	box-sizing:border-box;
}

.label {
	font-weight:bold;
	display:block;
	margin-bottom: 8px;
}

.inputElement {
	outline: none;
	border:1px solid #CCC;
	background-color: #FFF;
	font:inherit;
	padding:6px 10px;
	display:block;
	width:100%;
	box-sizing:border-box;
}

.inputElement:focus {
	outline:none;
	background-color: #CCC;
}

.invalid {
	border:2px solid red;
}