.navigationItem {
	margin:10px 0;
	box-sizing: border-box;
	display: block;
	width:100%;
}

.navigationItem a {
	color:#8F5C2C;
	text-decoration: none;
	width:100%;
	box-sizing:border-box;
	display: block;
}

.navigationItem a:hover,
.navigationItem a:active,
.navigationItem a.active {
	color:#40A4C8;
}

@media(min-width:500px) {
.navigationItem {
	margin:0px;
	width:auto;
	display: flex;
	height:100%;
	align-items:center;
}

.navigationItem a {
	color:#FFF;
	text-decoration: none;
	height:100%;
	padding:16px 10px;
	border-bottom:4px solid transparent;
}

.navigationItem a:hover,
.navigationItem a:active,
.navigationItem a.active {
	background-color: #8F5C2C;
	border-bottom:4px solid #40A4C8;
	color:#FFFFFF;
}
}