.contactData {
	margin:20px auto;
	width:80%;
	text-align:center;
	box-shadow: 0 2px 3px #CCC;
	border:1px solid #EEE;
	padding:10px;
	box-sizing:border-box;
}

@media(min-width: 600px) {
	.contactData {
		width:500px;
	}
}